<% if(req.user !== undefined){ %>
  <div class="bottom-nav">
    <div class="inner">
      <div class="buttons">
        <a href="/feed" class="button-nav">Feed      </a>
        <a href="/u" class="button-nav">Profile</a>
        <% if(req.baseUrl === '/f') {%>
          <a href="#" class="button-nav-upload">Match</a>
          <form action="/f/frupload-handler?frameid=<%= req.param('frameid') %>&userid=<%= userid %>" enctype="multipart/form-data" method="post" style="display:none;" name="matchForm">
            <input id="chooseMatch" type="file" accept="image/*" name="file">
            <input type="hidden" name="f_id" value=<%= req.param("frameid") %> />
            <button id="submitMatch" type="submit" name="Upload">Upload Frame</button>
          </form>
        <% } else{ %>
          <a href="/upload" class="button-nav-upload">Upload</a>
        <% } %>
        <a href="/leaderboard" class="button-nav">Leader       </a>
        <a href="/friends" class="button-nav">Friends      </a>
      </div>

    </div>
  </div>
<% } %>
