<head>

  <title><%= title %></title>


  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/global.css' />

  <!-- Load all CSS stylesheets -->
  <% stylesheets.forEach(function(name){ %>
  <%- "<link rel='stylesheet' href='/stylesheets/" + name + "' />" %>
  <% }); %>

  <!-- Load JQuery Library -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="/javascripts/bootstrap.min.js"></script>

  <!-- Load all JavaScripts -->
  <% javascripts.forEach(function(name){ %>
  <%- "<script src='/javascripts/" + name + "'></script>" %>
  <% }); %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
