/****************/
/**** Colors ****/
/****************/
#goaway {
  display: none; }

.main {
  background-color: white;
  padding-top: 64px;
  padding-bottom: 80px; }

/********************/
/**** Navbar CSS ****/
/********************/
.navbar-white {
  background-color: white;
  border-bottom: 1px solid #e5e5e5; }
  .navbar-white .navbar-brand {
    padding: 4px 0; }
    .navbar-white .navbar-brand #navbar-logo {
      height: 42px;
      margin: 0;
      padding: 0;
      width: auto; }
  .navbar-white .navbar-header {
    float: none; }
  .navbar-white #login {
    float: right;
    background-color: white;
    width: 64px;
    height: 32px;
    color: #e13333;
    border: 1px solid #e13333;
    border-radius: 2px;
    margin: 9px 9px 0 0;
    font-size: 12px;
    padding: 7px 16px; }
    .navbar-white #login:hover, .navbar-white #login:active, .navbar-white #login:focus {
      text-decoration: none; }
  .navbar-white .UserNav {
    float: right;
    background-color: white;
    width: 64px;
    height: 32px;
    color: #e13333;
    border: 1px solid #e13333;
    border-radius: 2px;
    margin: 9px 9px 0 0;
    font-size: 12px;
    text-align: center;
    padding: 7px 9px;
    text-wrap: none; }
    .navbar-white .UserNav:hover, .navbar-white .UserNav:active, .navbar-white .UserNav:focus {
      text-decoration: none; }
  .navbar-white .pressed {
    background-color: #e13333 !important;
    color: white !important;
    text-decoration: none; }
  .navbar-white #login_form {
    display: none;
    position: fixed;
    top: 39px;
    right: 9px;
    width: 100%;
    height: 158px;
    background-color: white;
    border: 1px solid #e13333;
    border-radius: 2px;
    padding: 8px 10px;
    max-width: 250px; }
    .navbar-white #login_form .login_form_fieldname {
      font-size: 10px;
      font-weight: 400;
      color: #5B5B5B; }
    .navbar-white #login_form .login_form_field {
      height: 28px;
      width: 100%;
      border-radius: 0;
      font-size: 14px;
      padding: 0px 6px;
      color: #5B5B5B;
      border: 1px none #e13333;
      border-bottom-style: solid;
      margin-bottom: 12px; }
    .navbar-white #login_form #login_form_button {
      float: right;
      background-color: #e13333;
      border: none;
      border-radius: 2px;
      color: #FFF;
      text-shadow: none;
      padding: 7px 14px 6px 14px;
      font-size: 12px; }
    .navbar-white #login_form #login_form_signuptext {
      float: left;
      font-size: 10px;
      margin-top: 8px; }
      .navbar-white #login_form #login_form_signuptext #signup {
        color: #e13333; }
        .navbar-white #login_form #login_form_signuptext #signup:hover, .navbar-white #login_form #login_form_signuptext #signup:focus, .navbar-white #login_form #login_form_signuptext #signup:active {
          color: #e13333; }

/************************/
/**** Bottom Nav CSS ****/
/************************/
.bottom-nav {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  padding: 0;
  margin: 0; }
  .bottom-nav .inner {
    width: 100%;
    text-align: center; }
    .bottom-nav .inner .buttons .button-nav {
      width: 48px;
      height: 40px;
      background-color: white;
      margin: 11px 1px 1px 0;
      padding-top: 12px;
      display: inline-block;
      overflow: hidden;
      font-size: 10px;
      color: #e13333;
      vertical-align: top;
      border: 1px solid #e5e5e5;
      border-radius: 2px; }
      .bottom-nav .inner .buttons .button-nav:hover, .bottom-nav .inner .buttons .button-nav:focus, .bottom-nav .inner .buttons .button-nav:active {
        text-decoration: none; }
    .bottom-nav .inner .buttons .button-nav-upload {
      width: 56px;
      height: 56px;
      background-color: #e13333;
      padding-top: 21px;
      margin: 3px 1px 1px 0;
      display: inline-block;
      overflow: hidden;
      font-size: 10px;
      color: white;
      border-radius: 28px;
      vertical-align: top; }
      .bottom-nav .inner .buttons .button-nav-upload:hover, .bottom-nav .inner .buttons .button-nav-upload:focus, .bottom-nav .inner .buttons .button-nav-upload:active {
        text-decoration: none; }

@media all and (min-width: 1280px) {
  .container {
    display: none !important; }

  #goaway {
    display: block !important;
    font-size: 32px;
    margin: 70px auto 0 auto;
    color: #e13333; }
 }
