.profile-header {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 6px; }
  .profile-header .profile-picture {
    width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 1.5% 1.5% 1.5% 0; }
    .profile-header .profile-picture img {
      width: 100%;
      height: 100%; }
  .profile-header .profile-description {
    margin: 4% 0 0 6px;
    width: 55%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
    .profile-header .profile-description .username {
      font-size: 18px;
      font-weight: 700; }
    .profile-header .profile-description .desc {
      margin-top: 10px;
      font-size: 11px; }

.profile-frames {
  width: 100%;
  text-align: left; }
  .profile-frames .header {
    width: 100%;
    height: 24px;
    font-size: 16px;
    color: #5b5b5b;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 6px; }
  .profile-frames .frame-container {
    float: left;
    width: 48%;
    margin: 1%; }
    .profile-frames .frame-container .frame {
      width: 100%; }
      .profile-frames .frame-container .frame img {
        width: 100%;
        height: 100%;
        margin: 0 auto; }
