/****************/
/**** Colors ****/
/****************/
.content {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  border: 2px solid; }

.header {
  color: #e13333;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2px; }

.form-group label {
  font-size: 11px;
  font-weight: 400; }

.signupContainer {
  background-color: white;
  margin: 0 auto;
  padding: 4px;
  max-width: 700px; }

.congrats {
  text-align: center; }

.btn-default {
  background-color: #E14F4F;
  color: white; }

.btn-default:active {
  background-color: #e13333;
  color: white; }

.btn-default:hover {
  background-color: #e13333;
  color: white; }
