<html>
  <% include partials/head %>
  <body>

  <% include partials/topnav %>

  <div class="container">

    <div class="main">
      <div class="content">

        <% frames.forEach(function(frame){ %>
          <div class="feed-frame">
            <div class="titlebar">
              <%- '<a href="' + frame.userlink + '"><img src="' + frame.userimg + '" /></a>' %>
              <div class="info">
                <p class="bold"><%= frame.username %></p>
                <p class="grayed">uploaded a frame</p>
              </div>
              <p class="time"><%= frame.time %></p>
            </div>
            <div class="frame">
              <%- '<a href="' + frame.framelink + '"><img src="' + frame.imagepath + '" /></a>' %>
            </div>
          </div>
        <% }); %>
        <!-- Frame Template before making dynamic
          <div class="feed-frame">
            <div class="titlebar">
              <a href="/u/Johnny_Appleseed"><img src="/images/test-profile1.png" /></a>
              <div class="info">
                <p class="bold">Johnny Appleseed</p>
                <p class="grayed">uploaded a frame</p>
              </div>
              <p class="time">2h ago</p>
            </div>
            <div class="frame">
              <a href="/f/101"><img src="/images/test/IMG_2268.jpg" /></a>
            </div>
          </div>
        -->

      </div>
    </div>

  </div><!-- /.container -->

  <% include partials/bottomnav %>

  </body>
</html>
