<!DOCTYPE html>
<html>
<% include partials/head %>


<body>


  <% include partials/topnav %>


  <div class="container">

    <div class="main">
      <div class="content">

        <h1> Welcome to your friends list <%= username %>! </h1>



      </div>
    </div>

  </div><!-- /.container -->

  <% include partials/bottomnav %>

</body>
</html>
