<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>

    <% include partials/topnav %>

    <div class="container">

      <div class="main">
        <div class="content">
          <!-- PROFILE HEADER -->
          <div class="profile-header">
            <div class="profile-picture">
              <img src=<%= propic %> />
            </div>
            <div class="profile-description">
              <div class="username">
                <%= username %>
              </div>
              <p class="desc">
                You have <b><%= points %></b> points!
              </p>
              <p class="desc">
              You have <b><%= frames.length %></b> frame(s)!
              </p>
            </div>
          </div>

          <!-- FRAMES -->
          <div class="profile-frames clearfix">
            <% if (frames.length === 0) { %>
              <p>No frames yet! Go discover the UMass campus!</p>
            <% } else { %>
               <ul>
                 <% frames.forEach(function (item) { %>
                 <div class="frame-container">
                   <div class="frame">
                     <%- '<a href="' + item.f_link + '"><img src="' + item.f_img_path + '" /></a>' %>
                   </div>
                 </div>
                 <% }); %>
               </ul>
            <% } %>

          </div> <!--profile-frames clearfix -->

        </div>
      </div>

    </div><!-- /.container -->

    <% include partials/bottomnav %>

  </body>
</html>
