<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>


  <% include partials/topnav %>
  <div class="container">

    <div class="main">
      <div class="content">

        <div id="header">Upload a new Frame</div>
        <form action="/upload-handler" enctype="multipart/form-data" method="post">
          <input id="choose" type="file" accept="image/*" name="file">
          <hr>
          <p id="hint-label">Hint:</p><input id="hint-field" type="text" name="hint"><br>
          <button id="submit" type="submit" name="Upload">Upload Frame</button>
        </form>
        <p><%= message %></p>

      </div>
    </div>

  </div><!-- /.container -->

  <% include partials/bottomnav %>

  </body>
</html>
